

<section class="row">
  <article class="column">
    <%# <%= inspect getAPI() %>
    
    <form action="/findOrg" method="post">
    <input type="hidden" value="<%= Phoenix.Controller.get_csrf_token() %>" name="_csrf_token"/>
    <input type="text" name="organization">
    <input type="submit">
</form>


    <%= for thing <- @content do %>
    <%= thing %> <BR>
    <% end %>
  </article>
</section>
