

.container {
  display: flex;
  flex-direction: column;
  width: 800px;
  background-color: lightgray;
  margin: auto;
  padding-bottom: 10px;
}

h1 {
  display: block;
  margin: 15px auto 15px auto;
}

h3 {
  text-transform: capitalize;
}

.form {
  display: block;
  text-align: center;

}

.repos li {
  list-style: none;
  text-align: center;
}

.message {
  display: block;
  text-align: center;
  align-self: center;
}

.repos ul {
  display: block;
  padding: 0;
  margin: auto;
}